/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/
body {
	padding-top: 80px;
}

input, .button {
	border-radius: 50px!important;
}


/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

.navbar .navbar-nav.navbar-center {
	/*height:40px;*/
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 0;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-default {
	background: #00a3c1;
	border-bottom: 4px solid #00b6da;
	color: #fff;
}

.collapse {
	display: inherit;
}

.navbar-default .navbar-nav > li {
	display: inline-block;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	padding: 18px 30px;
}

.navbar-default .navbar-nav > .active > a {
	background: transparent!important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
	color: #95e8ef;
}

.searchbar {
	background: #eee;
	padding: 10px 15px;
}

.searchbar input {
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}

.marquee-slider marquee {
	padding: 10px;
	/*font-weight: 300;*/
	font-size: 14px;
	/*text-transform: uppercase;*/
	/*color: #d02ba8*/
}

#navtext{
	height:12px;
}
#navtext div{
	height:10px;
}

/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/
.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 7px 0;
	top: 1px
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	height: 30px;
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}


/*-----------------------------------------------------------------------------------*/
/* BANNERS
/*-----------------------------------------------------------------------------------*/
.banners {
	border: 1px solid #e6e6e6;
	border-radius: 12px;
	padding: 10px 0;
}

.banners div {
	text-align: center;
	padding: 5px 0;
	margin: 0;
}

.banners div img {
	width: 100%;
}


/*-----------------------------------------------------------------------------------*/
/* MENU
/*-----------------------------------------------------------------------------------*/
.menu {
	display: inline-block;
	padding: 5px 0 0 0;
	margin: 0;
}

.menu li {
	float: left;
	list-style: none;
	letter-spacing: 1px;
}

.menu li:after {
	content: "|";
	color: #fff;
	padding: 0 .5em;
}

.menu li:last-child:after {
	display: none;
}

.menu li a {
	margin: 0 5px;
	color: #fff;
}

.menu-nav {
	background: #b7b7b7;
}

.menu-links {
	padding: 3px 0;
	background: #E3E3E3;
}

.menu-links .menu li a {
	color: #555555;
	margin: 0 10px;
}

.menu-links .menu li:after {
	content: none;
}

@medias (max-width: 480px) {
	.menu {
		padding: 0; 
		width: 100%;
	}

	.menu li {
		float: none;
		display: block;
		border-bottom: 1px solid #a7a7a7;
	}

	.menu li a {
		display: block;
		width: 100%;
		padding: 8px 0;
		margin: 0;
	}

	.menu li a:hover,
	.menu li a:focus {
		background-color: #a7a7a7;
	}

	.menu li:after {
		content: none;
	}
}

/*-----------------------------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------------------------*/
footer {
	margin-top: 20px;
	text-align: center;
}

.footer-img img {
	width: 100%
}


/*searchbar*/

/*searchbar*/